---
layout: default
title: Deutscher Kongress für Geographie
---

  <header class="masthead text-light" style="position:relative">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="display-2">Save the date.</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="mb-0">Der 62. Deutsche Kongress für Geographie findet</p>
          <p class="date mb-0 bg-light text-secondary">vom <span class="text-primary">29.&nbsp;September</span> bis zum <span class="text-primary">2.&nbsp;Oktober&nbsp;2021</span></p>
          <p class="mb-5">in Frankfurt am Main statt.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#kongress">Mehr infos</a>
        </div>
      </div>
    </div>
    <div class="photo-credit">Foto: Uwe Dettmar, Goethe-Universität Frankfurt</div>
  </header>

{% for feature in site.features %} 
  <section class="{% cycle 'bg-secondary text-light', 'bg-light' %}" id="{{ feature.slug }}">
    <div class="container-lg">
      <div class="row justify-content-center">
  {% if feature.img %}
        <div class="col-12 col-md-6 hz-bg">
    {% if feature.img_credit %}
          <div class="photo-credit">Foto: Peter Kiefer, Goethe-Universität Frankfurt</div>
    {% endif %}
        </div>
        <div class="col-12 col-md-6 p-5 text-center">
  {% else %}
        <div class="col-lg-10 p-5 text-center">
  {% endif %}
      <h2>{{ feature.title }}</h2>
      <hr class="divider my-4">
  {{ feature.content }}
        </div>
      </div>
    </div>
  </section>
{% endfor %}
