<section class="bg-primary" id="kongress">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Der 62. Deutsche Kongress für Geographie</h2>
                <hr class="light">
                <p class="text-faded">Nach 1883 und 1951 findet 2021 bereits zum dritten Mal der Deutsche Kongress für Geographie in Frankfurt statt. Die beiden Frankfurter Institute laden die internationale Fachgemeinde und die interessierte Öffentlichkeit vom 29. September 2021 bis zum 2. Oktober 2021 zum engagierten Austausch über aktuelle wissenschaftliche Arbeiten und gesellschaftlich relevante Themen auf den Campus Westend der Goethe-Universität ein.
</p>
            </div>
        </div>
    </div>
</section>
