  <section id="termine" class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Termine</h2>
              <hr class="light">
              <i class="fa fa-inbox fa-5x wow bounceIn" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i><br/>
              Juni – Dezember 2018<br/>
              <strong>Call for sessions</strong>
              <hr class="light">
          </div>
      </div>
  </section>
