// Base styling for the navbar
#mainNav {
  box-shadow: $box-shadow;
  background-color: $light;
  transition: background-color 0.2s ease;
  .navbar-brand {
    font-family: $font-family-sans-serif;
    font-weight: 600;
    color: $dark;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        text-transform: uppercase;
        color: $gray-600;
        font-family: $font-family-sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        padding: 0.75rem 0;
        &:hover,
        &:active {
          color: $primary;
        }
        &.active {
          color: $primary !important;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    box-shadow: none;
    background: linear-gradient(to bottom, #{fade-out($color1, .7)} 0%, #{fade-out($color1, .8)} 50%,#{fade-out($color1, 1)} 100%);
    text-shadow: 0 0 14px fade-out($color1, .6);
    .navbar-brand {
      color: fade-out($light, .1);
      &:hover {
        color: $white;
        text-shadow: none;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($light, .1);
          padding: 0 1rem;
          &:hover {
            color: $white;
            text-shadow: none;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: $box-shadow;
      text-shadow: none;
      background: none;
      background-color: $light;
      .navbar-brand {
        color: $dark;
        &:hover {
          color: $primary;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $dark;
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}
