/* Coolors Exported Palette - coolors.co/152d31-2e626a-4ecdc4-f7fff7-ff6b6b */

/* HSL */
$color1: hsla(189%, 40%, 14%, 1);
$color2: hsla(188%, 39%, 30%, 1);
$color3: hsla(176%, 56%, 55%, 1);
$color4: hsla(120%, 100%, 98%, 1);
$color5: hsla(0%, 100%, 71%, 1);

/* RGB */
$color1: rgba(21, 45, 49, 1);
$color2: rgba(46, 98, 106, 1);
$color3: rgba(78, 205, 196, 1);
$color4: rgba(247, 255, 247, 1);
$color5: rgba(255, 107, 107, 1);